{
  "web": {
    "op_uri": "https://cognito-idp.us-east-1.amazonaws.com/<pool-id>",
    "client_id": "<client_id>",
    "client_secret": "client_secret>",
    "auth_uri": "https://<domain-prefix>.auth.us-east-1.amazoncognito.com/oauth2/authorize",
    "token_uri": "https://<domain-prefix>.auth.us-east-1.amazoncognito.com/oauth2/token",
    "userinfo_uri": "https://<domain-prefix>.auth.us-east-1.amazoncognito.com/oauth2/userInfo",
    "redirect_uris": [
      "https://localhost:9999/oidc_callback"
    ],
    "jwks_uri": "https://cognito-idp.us-east-1.amazonaws.com/<pool-id>/.well-known/jwks.json"
  }
}
